/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 2, 2017, 3:53:18 PM
    Author     : wladek
*/

@font-face{
  font-family: text;
  src: url('../fonts/text.ttf');
  src: url('../fonts/text.woff');
}
@font-face{
    font-family: Batik_Alin;
    src: url('../fonts/Batik_Alin.ttf');
}
.icon{
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.icon-account{
    background-image: url("../icons/ic_account_circle.svg");
}

.icon-shopping-cart{
    background-image: url('../icons/ic_shopping_cart.svg');
}

.icon-search{
    background-image: url('../icons/ic_search.svg');
}

.icon-arrow-left{
    background-image: url('../icons/ic_arrow_left.svg');
}
.icon-arrow-right{
    background-image: url('../icons/ic_arrow_right.svg');
}